//Variables - storage of data in program
/* declaring variable ---> $variable_name: value*/

$offwhite: #f2f2f2
$offblack: #333

.heading-test
	text-align: center
	background-color: $offwhite
	letter-spacing: 1.5em
	color: $offblack

#div-test
	background-color: red

	.middle
		background-color: blue


#id-ko
	color: red







